{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">タイトル</th>
                <th scope="col">開始時間</th>
                <th scope="col">終了時間</th>
            </tr>
        </thead>
        <tbody>
            {% for row in history %}
            <tr>
                <td>{{ row["title"] }}</td>
                <td>{{ row["starttime"] }}</td>
                <td>{{ row["finishtime"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
